{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container text-center">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">ĐĂNG NHẬP</h3>
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Đăng nhập" class="btn btn-footer" />
				</td>
			</tr>
		</form>
	</table>
	<p><a href="{% url 'password_reset' %}" class="text-danger">Quên mật khẩu</a></p>
	<p>Nếu bạn chưa có tài khoản, hãy <b><a href="{% url 'signup' %}">Đăng ký tại đây</a></b>.</p>
</main>
{% endblock %}