<div class="list-group">
	<a href="{% url 'my_dashboard' %}" class="list-group-item {% if request.path == '/my-dashboard' %}active {% endif %}">Thống kê giao dịch</a>
	<a href="{% url 'edit-profile' %}" class="list-group-item {% if request.path == '/edit-profile' %}active {% endif %}">Thông tin cá nhân</a>
	<a href="{% url 'my_orders' %}" class="list-group-item {% if request.path == '/my-orders' %}active {% endif %}">Đơn hàng đã đặt</a>
	<a href="{% url 'my_wishlist' %}" class="list-group-item {% if request.path == '/my-wishlist' %}active {% endif %}">Sản phẩm yêu thích</a>
	<a href="{% url 'my-reviews' %}" class="list-group-item {% if request.path == '/my-reviews' %}active {% endif %}">Đánh giá sản phẩm</a>
	<a href="{% url 'my-addressbook' %}" class="list-group-item {% if request.path == '/my-addressbook' %}active {% endif %}">Địa chỉ nhận hàng</a>
	<a href="{% url 'password_change' %}" class="list-group-item {% if request.path == '/accounts/password_change/' %}active {% endif %}">Thay đổi mật khẩu</a>
	<a href="{% url 'logout' %}" class="text-danger list-group-item">Đăng xuất</a>
</div>