<div class="list-group">
	<a href="{% url 'my_dashboard' %}" class="list-group-item {% if request.path == '/my-dashboard' %}active {% endif %}">THỐNG KÊ GIAO DỊCH</a>
	<a href="{% url 'edit-profile' %}" class="list-group-item {% if request.path == '/edit-profile' %}active {% endif %}">THÔNG TIN CÁ NHÂN</a>
	<a href="{% url 'my_orders' %}" class="list-group-item {% if request.path == '/my-orders' %}active {% endif %}">ĐƠN HÀNG ĐÃ ĐẶT</a>
	<a href="{% url 'my_wishlist' %}" class="list-group-item {% if request.path == '/my-wishlist' %}active {% endif %}">SẢN PHẨM YÊU THÍCH</a>
	<a href="{% url 'my-reviews' %}" class="list-group-item {% if request.path == '/my-reviews' %}active {% endif %}">ĐÁNH GIÁ SẢN PHẨM</a>
	<a href="{% url 'my-addressbook' %}" class="list-group-item {% if request.path == '/my-addressbook' %}active {% endif %}">ĐỊA CHỈ NHẬN HÀNG</a>
	<a href="{% url 'password_change' %}" class="list-group-item {% if request.path == '/accounts/password_change/' %}active {% endif %}">THAY ĐỔI MẬT KHẨU</a>
	<a href="{% url 'logout' %}" class="text-danger list-group-item">ĐĂNG XUẤT</a>
</div>