{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="aboutus">
    <img src="/media/about_us_imgs/1.png" class="d-block w-100" alt="aboutus">
    <div class="about-us-content d-flex mt-0">
        <strong style="color: #410002; font-size: 72px; font-family: Inter; font-weight: 800; line-height: 76px;">NÂNG CAO THANH.</strong>
        <p style="color: #763300; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px;">Để bạn cảm thấy tốt và có thể làm điều tốt.</p>
    </div>
</div>
<main class="container my-4">
    <div class="aboutproduct">
        <img src="media/about_us_imgs/2.png" alt="aboutproduct">
        <div class="content-about-product bg-white">
            <strong>Pacha Soap Co.</strong>
            <p>Chúng tôi là một công ty hoạt động có mục đích.Chúng tôi tạo ra các sản phẩm tự nhiên, thủ công để làm
                hài lòng các giác quan và nâng cao sức khỏe. Nhiệm vụ của chúng tôi là thách thức các tiêu chuẩn đối với
                những gì có nghĩa là một doanh nghiệp có đạo đức bằng cách thực hiện các bước mạnh mẽ để trao quyền cho
                các cộng đồng trên thế giới với các giải pháp bền vững lâu dài.</p>
        </div>
    </div>
</main>
<div class="aboutus">
    <img src="/media/about_us_imgs/7.png" class="d-block w-100" alt="aboutus">
    <div class="bg-about-us"></div>
    <div class="about-us-content">
        <strong>Tầm nhìn của chúng tôi.</strong>
        <p>Để biến tầm nhìn của mình thành hiện thực, chúng tôi làm việc chăm chỉ để xây dựng một nền văn hóa hòa nhập và hiệu suất cao trong Pacha. Chúng tôi xác định văn hóa của mình bằng các từ sau:Bền vững, Hỗ trợ lẫn nhau, Tin cậy, Sống động, Sáng tạo, Kết nối, Xuất sắc.</p>
    </div>
</div>
<main class="container my-4">
    <div class="aboutproduct">
        <div class="content-about-product">
            <strong>CAM KẾT VỚI CỘNG ĐỒNG</strong>
            <p>Chúng tôi sẽ tiếp tục hỗ trợ các dự án nước, vệ sinh và vệ sinh theo cách tối đa hóa tác động của các
                khoản đóng góp của chúng tôi.</p>
            <p>Chúng tôi tự hào đã có trụ sở tại các nơi vùng sâu và chúng tôi sẽ tiếp tục hỗ trợ các tổ chức và cộng
                đồng địa phương.</p>
        </div>
        <img src="/media/about_us_imgs/8.png" alt="aboutus">
    </div>
    <div class="aboutproduct">
        <img src="media/about_us_imgs/9.png" alt="aboutproduct">
        <div class="content-about-product">
            <strong>CAM KẾT VỚI NÔNG DÂN</strong>
            <p>Chúng tôi muốn tìm nguồn nguyên liệu từ những nông dân trên toàn thế giới.</p>
            <p>Chúng tôi sẽ tìm cách đảm bảo mối quan hệ đối tác tìm nguồn cung ứng cho nông dân, giúp họ tiếp cận các
                thị trường mới và tạo sinh kế bền vững.</p>
        </div>
    </div>
    <div class="aboutproduct">
        <div class="content-about-product">
            <strong>CAM KẾT ĐỔI MỚI</strong>
            <p>Chúng tôi nỗ lực trở thành một công ty có ảnh hưởng và là chất xúc tác cho sự đổi mới, thông qua quan hệ
                đối tác công-tư, công nghệ mới và tạo ra sự minh bạch bên trong và bên ngoài để thu hút người tiêu dùng
                với sự thay đổi bền vững.</p>
        </div>
        <img src="/media/about_us_imgs/10.png" alt="aboutus">
    </div>
    <div class="aboutproduct">
        <img src="media/about_us_imgs/9.png" alt="aboutproduct">
        <div class="content-about-product">
            <strong>CAM KẾT VỚI HÀNH TINH</strong>
            <p>Chúng tôi cố gắng giảm lượng khí thải carbon và bù đắp tất cả lượng khí thải carbon còn lại.</p>
            <p>Chúng tôi sẽ tiếp tục tìm nguồn nguyên liệu từ các nhà cung cấp bền vững với môi trường.</p>
        </div>
</main>



{% endblock %}