{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Content -->
<div style="width: 100%; height: 100%; position: relative; background: #FFF8F6">
    <div style="width: 100%; height: 1929px; left: 0px; top: 2999px; position: absolute; background: #FBEEE9"></div>
    <img style="width: 100%; height: 480px; left: 0px; top: 64px; position: absolute" src="https://via.placeholder.com/1440x480" />
    <div style="width: 100%; height: 712px; left: 0px; top: 1320px; position: absolute; background: #FBEEE9"></div>
    <img style="width: 100%; height: 640px; left: 0px; top: 2096px; position: absolute" src="https://via.placeholder.com/1440x640" />
    <div style="width: 883px; height: 80px; left: 304px; top: 248px; position: absolute; text-align: center; color: #410002; font-size: 72px; font-family: Inter; font-weight: 800; line-height: 76px; word-wrap: break-word">NÂNG CAO THANH. </div>
    <div style="width: 883px; height: 80px; left: 304px; top: 344px; position: absolute; text-align: center; color: #763300; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">Để bạn cảm thấy tốt và có thể làm điều tốt.</div>
    <div style="height: 328px; left: 843px; top: 766px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 40px; display: inline-flex">
        <div style="width: 310px; height: 32px; color: #9B4600; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Pacha Soap Co.</div>
        <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi là một công ty hoạt động có mục đích. Chúng tôi tạo ra các sản phẩm tự nhiên, thủ công để làm hài lòng các giác quan và nâng cao sức khỏe. Nhiệm vụ của chúng tôi là thách thức các tiêu chuẩn đối với những gì có nghĩa là một doanh nghiệp có đạo đức bằng cách thực hiện các bước mạnh mẽ để trao quyền cho các cộng đồng trên thế giới với các giải pháp bền vững lâu dài.</div>
    </div>
    <div style="width: 100%; height: 640px; left: 0px; top: 2096px; position: absolute; background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 0%, #763300 100%)"></div>
    <div style="width:100%; height: 167px; left: 0px; top: 2513px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="align-self: stretch; height: 47px; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Tầm nhìn của chúng tôi.</div>
        <div style="align-self: stretch; text-align: center"><span style="color: #FFDBC9; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Để biến tầm nhìn của mình thành hiện thực, chúng tôi làm việc chăm chỉ để xây dựng một nền văn hóa hòa nhập và hiệu suất cao trong Pacha. Chúng tôi xác định văn hóa của mình bằng các từ sau:  </span><span style="color: #FFDBC9; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">Bền vững, Hỗ trợ lẫn nhau, Tin cậy, Sống động, Sáng tạo, Kết nối, Xuất sắc.</span></div>
    </div>
    <img style="width: 648px; height: 644px; left: 64px; top: 608px; position: absolute" src="https://via.placeholder.com/648x644" />
    <div style="width: 1334px; height: 516px; left: 54px; top: 1454px; position: absolute">
    <div style="width: 332px; height: 516px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311" />
        <div style="width: 310px; height: 96px"><span style="color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">5,5</span><span style="color: #410002; font-size: 54px; font-family: Inter; font-weight: 800; line-height: 58px; word-wrap: break-word"> </span><span style="color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">triệu</span></div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
            <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
        <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">thanh xà phòng đã được  quyên góp </div>
    </div>
    <div style="width: 332px; height: 516px; left: 334px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311" />
        <div style="width: 310px; height: 96px"><span style="color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">130</span><span style="color: #410002; font-size: 54px; font-family: Inter; font-weight: 800; line-height: 58px; word-wrap: break-word"> </span><span style="color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">nghìn</span></div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
            <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
        <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">trẻ em và người dân được giáo dục về vệ sinh</div>
    </div>
    <div style="width: 332px; height: 516px; left: 668px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311" />
        <div style="width: 310px; height: 96px"><span style="color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">9</span><span style="color: #410002; font-size: 54px; font-family: Inter; font-weight: 800; line-height: 58px; word-wrap: break-word"> </span><span style="color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">nghìn</span></div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
        <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
        <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">người dân được tiếp cận và  sử dụng nước sạch</div>
    </div>
    <div style="width: 332px; height: 516px; left: 1002px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311" />
        <div style="width: 310px; height: 96px; color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">113</div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
        <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
    <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">sinh kế được tạo ra</div>
    </div>
    </div>
    <div style="width:100%; left: 0px; top: 1384px; position: absolute; text-align: center; color: #362F2C; font-size: 28px; font-family: Inter; font-weight: 700; line-height: 34px; word-wrap: break-word">Bạn sẽ lan tỏa những điều tốt đẹp bằng cách sử dụng sản phẩm của Pacha.</div>
    <div style="width: 100%; left: 0px; top: 2864px; position: absolute; text-align: center; color: #362F2C; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Cam kết của PACHA đối với tác động bền vững và đổi mới,  cân bằng giữa con người, hành tinh và lợi nhuận</div>
    <div style="left: 64px; right: 64px; top: 3046px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
        <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT VỚI CỘNG ĐỒNG</div>
            <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi sẽ tiếp tục hỗ trợ các dự án nước, vệ sinh và vệ sinh theo cách tối đa hóa tác động của các khoản đóng góp của chúng tôi.<br/>Chúng tôi tự hào đã có trụ sở tại các nơi vùng sâu và chúng tôi sẽ tiếp tục hỗ trợ các tổ chức và cộng đồng địa phương.</div>
        </div>
        <img style="width: 647px; height: 435px" src="https://via.placeholder.com/647x435" />
    </div>
    <div style="left: 64px; right: 64px; top: 3505px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
        <div style="width: 647px; height: 435px; position: relative">
            <img style="width: 647px; height: 435px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/647x435" />
        </div>
        <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT VỚI NÔNG DÂN</div>
            <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi muốn tìm nguồn nguyên liệu từ những nông dân trên toàn thế giới.<br/>Chúng tôi sẽ tìm cách đảm bảo mối quan hệ đối tác tìm nguồn cung ứng cho nông dân, giúp họ tiếp cận các thị trường mới và tạo sinh kế bền vững.</div>
        </div>
    </div>
    <div style="left: 64px; right: 64px; top: 4423px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
    <div style="width: 647px; height: 435px; position: relative">
    <img style="width: 647px; height: 435px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/647x435" />
    </div>
    <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT VỚI HÀNH TINH</div>
    <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi cố gắng giảm lượng khí thải carbon và bù đắp tất cả lượng khí thải carbon còn lại.<br/>Chúng tôi sẽ tiếp tục tìm nguồn nguyên liệu từ các nhà cung cấp bền vững với môi trường.</div>
    </div>
    </div>
    <div style="left: 64px; right: 64px; top: 3964px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
    <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT ĐỔI MỚI</div>
    <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi nỗ lực trở thành một công ty có ảnh hưởng và là chất xúc tác cho sự đổi mới, thông qua quan hệ đối tác công-tư, công nghệ mới và tạo ra sự minh bạch bên trong và bên ngoài để thu hút người tiêu dùng với sự thay đổi bền vững.</div>
    </div>
    <img style="width: 647px; height: 435px" src="https://via.placeholder.com/647x435" />
    </div>
    <div style="width: 100%; height: 48px; left: 0px; top: 4992px; position: absolute; text-align: center; color: #410002; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">VÀ CHÚNG TÔI CHỈ MỚI BẮT ĐẦU!</div>
    <div style="width: 100%; height: 47px; left: 0px; top: 5168px; position: absolute; text-align: center; color: #362F2C; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Đọc những hành động mới nhất.<br/></div>
    <div style="width: 100%; height: 560px; left: 0px; top: 5279px; position: absolute">
    <div style="width: 100%; height: 560px; left: 0px; top: 0px; position: absolute; background: #E4D8D2"></div>
    <div style="width: 644px; height: 391px; left: 64px; top: 85px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="height: 327px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
    <div style="align-self: stretch; height: 47px; color: #362F2C; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">CHIẾN DỊCH NET ZERO 2030<br/></div>
    <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Pacha quan tâm đến hành tinh của chúng ta, thế giới của chúng ta và tác động của chúng ta lên nó. Tuy nhiên, biến đổi khí hậu và giảm lượng khí thải carbon lớn hơn nhiều so với chỉ chúng ta. Chúng tôi muốn trở thành một phần của sự thay đổi toàn ngành, đó là lý do tại sao chúng tôi tham gia chiến dịch Net Zero 2030. Chúng tôi rất vui mừng được trở thành thành viên của tập đoàn gồm hơn 1.000 công ty đang nỗ lực đáp ứng mục tiêu đạt mức phát thải carbon ròng bằng 0 vào năm 2030...</div>
    </div>
    <div style="width: 200px; height: 40px; border-radius: 100px; overflow: hidden; border: 1px #410002 solid; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: flex">
    <div style="align-self: stretch; flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="text-align: center; color: #9B4600; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word">Xem thêm</div>
    </div>
    </div>
    </div>
    <img style="width: 706px; height: 560px; left: 734px; top: 0px; position: absolute" src="https://via.placeholder.com/706x560" />
    </div>
    <div style="width: 100%; height: 682px; left: 0px; top: 5967px; position: absolute; background: #FBEEE9">
    <div style="width: 100%; height: 682px; left: 0px; top: -60.39px; position: absolute"></div>
    <div style="width: 100%; height: 28.42px; left: 592px; top: 49.73px; position: absolute; color: #362F2C; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">Là một phần của chúng tôi</div>
    <div style="left: 628px; top: 120px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
    <div style="flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="width: 40px; height: 40px; background: #9B4600; border-radius: 9999px"></div>
    <div style="width: 12.47px; height: 24px; left: 14px; top: 9px; position: absolute; background: white"></div>
    </div>
    <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
    <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
    <div style="width: 40px; height: 40px; background: #9B4600; border-radius: 9999px"></div>
    <div style="left: 8px; top: 8px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: flex">
    <div style="width: 24px; height: 24px; background: white"></div>
    </div>
    </div>
    </div>
    </div>
    <img style="width: 87px; height: 77px; left: 64px; top: 83px; position: absolute" src="https://via.placeholder.com/87x77" />
    <div style="width: 421px; height: 40px; left: 64px; top: 214px; position: absolute; color: #9B4600; font-size: 28px; font-family: Inter; font-weight: 700; line-height: 34px; word-wrap: break-word">CHĂM SÓC ĐẾN TỰ NHIÊN</div>
    <div style="left: 509px; top: 218px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="width: 199px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
    <div style="width: 198px; height: 40px; color: #9B4600; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 26px; word-wrap: break-word">Thông tin quan trọng</div>
    </div>
    <div style="justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div style="width: 199px; height: 181px; color: #362F2C; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; word-wrap: break-word">Chăm sóc khách hàng
    <br/>0288 1111 2222<br/>Chính sách giao hàng & đổi trả
    <br/>Chính sách bảo mật
    <br/>Điều khoản và điều kiện
    <br/>Câu hỏi thường gặp</div>
    </div>
    </div>
    <div style="height: 228px; left: 955px; top: 218px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="width: 199px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
    <div style="width: 198px; height: 40px; color: #9B4600; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 26px; word-wrap: break-word">Mua sắm cùng chúng tôi</div>
    </div>
    <div style="width: 421px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div style="width: 421px; height: 181px; color: #362F2C; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; word-wrap: break-word">Hướng dẫn sử dụng sản phẩm<br/>Trao đổi nhượng quyền<br/>Trao và nhận - Tặng sản phẩm cho người thân<br/>Giới thiệu bạn bè - tặng 10%, nhận 10%</div>
    </div>
    </div>
    <div style="width: 420px; left: 64px; top: 265px; position: absolute; color: #362F2C; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 26px; word-wrap: break-word">PACHA SOAP là công ty hoạt động với mục đích chế tạo các sản phẩm thủ công, tự nhiên làm hài lòng làn da và nâng cao sức khỏe. Sứ mệnh của chúng tôi là kinh doanh có đạo đức bằng cách thực hiện các giải pháp lâu dài, bền vững.</div>
    <div style="width: 419px; left: 65px; top: 426px; position: absolute; color: #362F2C; font-size: 12px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 20px; word-wrap: break-word">Đăng ký để nhận mã giảm giá độc quyền và tin tức thú vị.<br/>Ưu đãi áp dụng cho tất cả sản phẩm!</div>
    <div style="width: 644px; left: 64px; top: 551px; position: absolute"><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">© 2023 PACHA SOAP CO<br/></span><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">Địa chỉ:</span><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word"> Đường Mạc Đĩnh Chi, Khu phố Tân Hòa, Phường Đông Hòa, Thành phố Dĩ An, Tỉnh Bình Dương<br/></span><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">Điện thoại:</span><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word"> 039576832
    <br/></span><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">Fax:</span><span style="color: #362F2C; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word"> 048472484</span></div>
    <div style="width: 87px; height: 48px; left: 64px; top: 484px; position: absolute; background: #763300; border-radius: 100px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="align-self: stretch; flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">Đăng ký</div>
    </div>
    </div>
    </div>
    </div>
    <div style="width: 100%; height: 100%; position: relative; background: #FFF8F6">
    <div style="width: 100%; height: 1929px; left: 0px; top: 2999px; position: absolute; background: #FBEEE9"></div>
    <img style="width: 100%; height: 480px; left: 0px; top: 64px; position: absolute" src="https://via.placeholder.com/1440x480">
    <div style="width: 100%; height: 712px; left: 0px; top: 1320px; position: absolute; background: #FBEEE9"></div>
    <img style="width: 100%; height: 640px; left: 0px; top: 2096px; position: absolute" src="https://via.placeholder.com/1440x640">
    <div style="width: 883px; height: 80px; left: 304px; top: 248px; position: absolute; text-align: center; color: #410002; font-size: 72px; font-family: Inter; font-weight: 800; line-height: 76px; word-wrap: break-word">NÂNG CAO THANH. </div>
    <div style="width: 883px; height: 80px; left: 304px; top: 344px; position: absolute; text-align: center; color: #763300; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">Để bạn cảm thấy tốt và có thể làm điều tốt.</div>
    <div style="height: 328px; left: 843px; top: 766px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 40px; display: inline-flex">
        <div style="width: 310px; height: 32px; color: #9B4600; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Pacha Soap Co.</div>
        <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi là một công ty hoạt động có mục đích. Chúng tôi tạo ra các sản phẩm tự nhiên, thủ công để làm hài lòng các giác quan và nâng cao sức khỏe. Nhiệm vụ của chúng tôi là thách thức các tiêu chuẩn đối với những gì có nghĩa là một doanh nghiệp có đạo đức bằng cách thực hiện các bước mạnh mẽ để trao quyền cho các cộng đồng trên thế giới với các giải pháp bền vững lâu dài.</div>
    </div>
    <div style="width: 100%; height: 640px; left: 0px; top: 2096px; position: absolute; background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 0%, #763300 100%)"></div>
    <div style="width:100%; height: 167px; left: 0px; top: 2513px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="align-self: stretch; height: 47px; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Tầm nhìn của chúng tôi.</div>
        <div style="align-self: stretch; text-align: center"><span style="color: #FFDBC9; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Để biến tầm nhìn của mình thành hiện thực, chúng tôi làm việc chăm chỉ để xây dựng một nền văn hóa hòa nhập và hiệu suất cao trong Pacha. Chúng tôi xác định văn hóa của mình bằng các từ sau:  </span><span style="color: #FFDBC9; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 32px; word-wrap: break-word">Bền vững, Hỗ trợ lẫn nhau, Tin cậy, Sống động, Sáng tạo, Kết nối, Xuất sắc.</span></div>
    </div>
    <img style="width: 648px; height: 644px; left: 64px; top: 608px; position: absolute" src="https://via.placeholder.com/648x644">
    <div style="width: 1334px; height: 516px; left: 54px; top: 1454px; position: absolute">
    <div style="width: 332px; height: 516px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311">
        <div style="width: 310px; height: 96px"><span style="color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">5,5</span><span style="color: #410002; font-size: 54px; font-family: Inter; font-weight: 800; line-height: 58px; word-wrap: break-word"> </span><span style="color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">triệu</span></div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
            <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
        <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">thanh xà phòng đã được  quyên góp </div>
    </div>
    <div style="width: 332px; height: 516px; left: 334px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311">
        <div style="width: 310px; height: 96px"><span style="color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">130</span><span style="color: #410002; font-size: 54px; font-family: Inter; font-weight: 800; line-height: 58px; word-wrap: break-word"> </span><span style="color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">nghìn</span></div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
            <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
        <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">trẻ em và người dân được giáo dục về vệ sinh</div>
    </div>
    <div style="width: 332px; height: 516px; left: 668px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311">
        <div style="width: 310px; height: 96px"><span style="color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">9</span><span style="color: #410002; font-size: 54px; font-family: Inter; font-weight: 800; line-height: 58px; word-wrap: break-word"> </span><span style="color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">nghìn</span></div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
        <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
        <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">người dân được tiếp cận và  sử dụng nước sạch</div>
    </div>
    <div style="width: 332px; height: 516px; left: 1002px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img style="width: 311px; height: 311px" src="https://via.placeholder.com/311x311">
        <div style="width: 310px; height: 96px; color: #410002; font-size: 80px; font-family: Inter; font-weight: 800; line-height: 84px; word-wrap: break-word">113</div>
        <div style="align-self: stretch; height: 1px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
        <div style="width: 300px; height: 0px; border: 1px #D7C2B8 solid"></div>
        </div>
    <div style="width: 310px; height: 48px; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">sinh kế được tạo ra</div>
    </div>
    </div>
    <div style="width:100%; left: 0px; top: 1384px; position: absolute; text-align: center; color: #362F2C; font-size: 28px; font-family: Inter; font-weight: 700; line-height: 34px; word-wrap: break-word">Bạn sẽ lan tỏa những điều tốt đẹp bằng cách sử dụng sản phẩm của Pacha.</div>
    <div style="width: 100%; left: 0px; top: 2864px; position: absolute; text-align: center; color: #362F2C; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Cam kết của PACHA đối với tác động bền vững và đổi mới,  cân bằng giữa con người, hành tinh và lợi nhuận</div>
    <div style="left: 64px;right: 64px; top: 3046px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
        <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT VỚI CỘNG ĐỒNG</div>
            <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi sẽ tiếp tục hỗ trợ các dự án nước, vệ sinh và vệ sinh theo cách tối đa hóa tác động của các khoản đóng góp của chúng tôi.<br>Chúng tôi tự hào đã có trụ sở tại các nơi vùng sâu và chúng tôi sẽ tiếp tục hỗ trợ các tổ chức và cộng đồng địa phương.</div>
        </div>
        <img style="width: 647px; height: 435px" src="https://via.placeholder.com/647x435">
    </div>
    <div style="left: 64px;right: 64px; top: 3505px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
        <div style="width: 647px; height: 435px; position: relative">
            <img style="width: 647px; height: 435px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/647x435">
        </div>
        <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT VỚI NÔNG DÂN</div>
            <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi muốn tìm nguồn nguyên liệu từ những nông dân trên toàn thế giới.<br>Chúng tôi sẽ tìm cách đảm bảo mối quan hệ đối tác tìm nguồn cung ứng cho nông dân, giúp họ tiếp cận các thị trường mới và tạo sinh kế bền vững.</div>
        </div>
    </div>
    <div style="left: 64px; right: 64px; top: 4423px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
    <div style="width: 647px; height: 435px; position: relative">
    <img style="width: 647px; height: 435px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/647x435">
    </div>
    <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT VỚI HÀNH TINH</div>
    <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi cố gắng giảm lượng khí thải carbon và bù đắp tất cả lượng khí thải carbon còn lại.<br>Chúng tôi sẽ tiếp tục tìm nguồn nguyên liệu từ các nhà cung cấp bền vững với môi trường.</div>
    </div>
    </div>
    <div style="left: 64px; right: 64px; top: 3964px; position: absolute; justify-content: flex-start; align-items: center; gap: 131px; display: inline-flex">
    <div style="width: 537px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 48px; color: #410002; font-size: 34px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">CAM KẾT ĐỔI MỚI</div>
    <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Chúng tôi nỗ lực trở thành một công ty có ảnh hưởng và là chất xúc tác cho sự đổi mới, thông qua quan hệ đối tác công-tư, công nghệ mới và tạo ra sự minh bạch bên trong và bên ngoài để thu hút người tiêu dùng với sự thay đổi bền vững.</div>
    </div>
    <img style="width: 647px; height: 435px" src="https://via.placeholder.com/647x435">
    </div>
    <div style="width: 100%; height: 48px; left: 0px; top: 4992px; position: absolute; text-align: center; color: #410002; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">VÀ CHÚNG TÔI CHỈ MỚI BẮT ĐẦU!</div>
    <div style="width: 100%; height: 47px; left: 0px; top: 5168px; position: absolute; text-align: center; color: #362F2C; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">Đọc những hành động mới nhất.<br></div>
    <div style="width: 100%; height: 560px; left: 0px; top: 5279px; position: absolute">
    <div style="width: 100%; height: 560px; left: 0px; top: 0px; position: absolute; background: #E4D8D2"></div>
    <div style="width: 644px; height: 391px; left: 64px; top: 85px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div style="height: 327px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
    <div style="align-self: stretch; height: 47px; color: #362F2C; font-size: 40px; font-family: Inter; font-weight: 800; line-height: 44px; word-wrap: break-word">CHIẾN DỊCH NET ZERO 2030<br></div>
    <div style="align-self: stretch; color: #201A17; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 32px; word-wrap: break-word">Pacha quan tâm đến hành tinh của chúng ta, thế giới của chúng ta và tác động của chúng ta lên nó. Tuy nhiên, biến đổi khí hậu và giảm lượng khí thải carbon lớn hơn nhiều so với chỉ chúng ta. Chúng tôi muốn trở thành một phần của sự thay đổi toàn ngành, đó là lý do tại sao chúng tôi tham gia chiến dịch Net Zero 2030. Chúng tôi rất vui mừng được trở thành thành viên của tập đoàn gồm hơn 1.000 công ty đang nỗ lực đáp ứng mục tiêu đạt mức phát thải carbon ròng bằng 0 vào năm 2030...</div>
    </div>
    <div style="width: 200px; height: 40px; border-radius: 100px; overflow: hidden; border: 1px #410002 solid; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: flex">
    <div style="align-self: stretch; flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="text-align: center; color: #9B4600; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 28px; word-wrap: break-word">Xem thêm</div>
    </div>
    </div>
    </div>
    <img style="width: 706px; height: 560px; left: 734px; top: 0px; position: absolute" src="https://via.placeholder.com/706x560">
    </div>
    <div style="width: 100%; height: 682px; left: 0px; top: 5967px; position: absolute; background: #FBEEE9">
    <div style="width: 100%; height: 682px; left: 0px; top: -60.39px; position: absolute"></div>
    <div style="left: 628px; top: 120px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
    <div style="flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
    <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
    <div style="left: 8px; top: 8px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: flex">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}

