{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container w-60 text-justify text-center">
    <h1 class="pt-5">CHIẾN DỊCH NET ZERO 2023</h1>
    <b>Tuấn Nguyễn, 19/04/2023</b>
    <p class="pt-3">Pacha quan tâm đến hành tinh của chúng ta, thế giới của chúng ta và tác động của chúng ta lên nó.
        Tuy nhiên, biến đổi khí hậu và giảm lượng khí thải carbon lớn hơn nhiều so với chỉ chúng ta. Chúng tôi muốn trở
        thành một phần của sự thay đổi toàn ngành, đó là lý do tại sao chúng tôi tham gia chiến dịch Net Zero 2030.
        Chúng tôi rất vui mừng được trở thành thành viên của tập đoàn gồm hơn 1.000 công ty đang nỗ lực đáp ứng mục tiêu
        đạt mức phát thải carbon ròng bằng 0 vào năm 2030.</p>
    <img src="{% static '/media/images/blog/1.png' %}" alt="" class="mb-4">
    <p>Bước đầu tiên của chúng tôi nhằm đáp ứng cam kết này là đo lường tác động carbon của chúng tôi. Sau đó, chúng tôi
        sẽ sử dụng phép đo này để giảm lượng khí thải carbon và bù đắp mọi lượng khí thải carbon còn lại. Chúng tôi đang
        hợp tác với Carbon Analytics để phân tích lượng khí thải năm 2020 của chúng tôi. Với thông tin đó, chúng tôi có
        thể đặt ra tiêu chuẩn cho việc sử dụng hiện tại để giảm lượng khí thải carbon vào năm 2021. Chúng tôi cũng sẽ
        công bố kế hoạch theo dõi và đánh giá tiến độ thực hiện các mục tiêu năm 2030 của mình.

        Chúng tôi không chỉ muốn đáp ứng các cam kết năm 2030 mà còn muốn đổi mới với một số đối tác tốt nhất của mình
        để thay đổi cách thức có thể đáp ứng các cam kết giảm lượng carbon. Đây là lý do tại sao chúng tôi rất vui mừng
        được thiết lập một sáng kiến mới với Camino Verde: theo dõi những cây mới được trồng và thành lập ở Amazon thuộc
        Peru trong một ứng dụng riêng, Real Trees.

        Hợp tác với Bext360, Camino Verde sẽ sử dụng công nghệ chuỗi khối để đăng ký 36.000 cây, chụp ảnh để lưu trữ vị
        trí và tính toán lượng carbon được lưu trữ trong mỗi cây. Cây thật cho phép Camino Verde theo dõi và ghi lại
        tình trạng sức khỏe của từng cây và thanh toán cho nông dân chăm sóc cây để thu giữ carbon và phúc lợi cây.</p>
    <img src="{% static '/media/images/blog/2.png' %}" alt="" class="mb-4">
    <p>Cùng với ứng dụng Real Trees, khu vực Amazon hoang dã ở Peru do Camino Verde giám sát và bảo vệ sẽ được lập bản
        đồ bằng công nghệ FarmTrace và tổng lượng carbon cô lập được tính toán. Điều này tạo ra một ngân hàng tín dụng
        carbon một cách hiệu quả, cho phép Pacha bù đắp ngay lập tức lượng khí thải carbon Phạm vi 1 và Phạm vi 2 của
        chúng tôi cho năm 2020, trong khi chúng tôi vẫn đang nỗ lực tính toán và bù đắp lượng khí thải Carbon Phạm vi 3
        của mình.

        Chúng tôi rất vui mừng về mối quan hệ hợp tác với Camino Verde vì chúng tôi có thể tiến xa hơn là chỉ mua tín
        dụng bù đắp carbon. Chúng ta có thể liên kết trực tiếp với cây cối và môi trường trong khi áp dụng cách tiếp cận
        thừa nhận tầm quan trọng và giá trị của thiên nhiên. Chúng tôi cũng mong muốn được thực hiện điều này với một
        đối tác mà chúng tôi có mối quan hệ hợp tác quyên góp và chuỗi cung ứng lâu dài, để thực sự tạo ra tác động
        trong hoạt động của chúng tôi.</p>
    <img src="{% static '/media/images/blog/3.png' %}" alt="" class="mb-4">
    <p>Sự hợp tác của chúng tôi với Camino Verde cũng có yếu tố con người - trao quyền cho các nhà sản xuất địa phương
        thông qua chuỗi cung ứng minh bạch nhằm giải quyết nguyên nhân gốc rễ của tình trạng suy thoái đất và khai thác
        tài nguyên. Bằng cách giúp tạo khả năng tiếp cận thị trường cho các sản phẩm Nông lâm kết hợp, chúng ta có thể
        bắt đầu tạo ra nền kinh tế tái tạo để nuôi dưỡng đất đai và con người.

        Với tư cách là một tổ chức, Pacha muốn loại bỏ quy trình trung hòa carbon có thể được coi là một thủ thuật kế
        toán. Hướng tới mức không carbon ròng là thừa nhận tác động tai hại mà lượng khí thải carbon gây ra trên hành
        tinh và thực hiện những thay đổi trong hoạt động cũng như chuỗi cung ứng của chúng tôi để đạt được điều này. Chỉ
        bằng cách tạo ra một liên kết thực sự, đồng cảm, chúng ta mới có thể thực sự thay đổi cách chúng ta sống và
        chúng tôi đang hợp tác với Bext360 và Camino Verde để phát triển công nghệ dành riêng cho việc này. Chúng tôi
        rất vui mừng cho tương lai.</p>
</div>
{% endblock %}