{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<div class="row">
		<!-- Filters -->
		<div class="col-md-3">
			{% include 'filters.html' %}
		</div>
		<div class="col-md-9">
			<!-- Products -->
			<h3 class="mb-4 border-bottom pb-1">
				{{category.title}}
			</h3>
			<div class="row">
				{% for product in data %}
				<div class="col-md-4 mb-4">
					<div class="card shadow">
						<a href="/product/{{product.slug}}/{{product.id}}" class="image-container">
							<span class="discount-label">-{{product.productattribute_set.first.discount}}%</span>
							<img src="{{ product.productattribute_set.first.images.first.image.url }}"
								class="image-product card-img-top" alt="{{ product.title }}">
						</a>
						<div class="card-body">
							<label class="btn-product">Giáng sinh</label>
							<label class="btn-product">Giảm giá</label>
							<h4><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h4>
							<div class="card-inline">
								{% for star in product.star|ljust:product.star %}
								<img src="{% static '/media/images/icons/star.png' %}" alt="star" />
								{% endfor %}
								<div class="comment">{{product.avg_rating}}</div>
							</div>
							<div class="card-inline">
								<h5 class="real-price">{{product.productattribute_set.first.price}} &#8363</h5>
								<h5 class="promote-price">{{ product.discount }} &#8363</h5>
							</div>
						</div>
						<div class="card-footer">
							<input type="hidden" class="product-image-{{product.id}}"
								value="{{product.productattribute_set.first.images.first.image.url}}" />
							<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
							<input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
							<input type="hidden" value="1" class="form-control-qty product-qty-{{product.id}}"
								id="productQty_{{product.id}}" />
							<button class="btn-product-footer"><a href="/product/{{product.slug}}/{{product.id}}">Xem thêm</a></button>
							<button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}" type="button"
								id="addToCartBtn"><i class="fa fa-shopping-cart"></i></button>
							{% if user.is_authenticated %}
							<button class="btn btn-sm btn-danger add-wishlist" data-product="{{product.id}}"><i
									class="fa fa-heart"></i></button>
							{% else %}
							<button class="btn btn-sm btn-danger disabled"><i class="fa fa-heart"></i></button>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<p class="my-4 text-center" ><a href="products.php" class="btn btn-footer btn-sm">Xem thêm</i></a></p>
		</div>
	</div>
</main>
{% endblock %}