{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-4" id="cartList">
	<form method="POST" id="checkoutForm" action="{% url 'checkout' %}">
		{% csrf_token %}
		<div class="row">
			<div class="col-6 flex-column">
				<h4 class="my-4 text-left border-bottom pb-1">THÔNG TIN LIÊN HỆ</h4>
				<fieldset>
					<legend><label for="id_email">Email</label></legend>
					{{ form.email }}
				</fieldset>
				<fieldset class="my-4">
					<legend><label for="id_phone">Số điện thoại</label></legend>
					{{ form.phone }}
				</fieldset>
				<h4 class="my-4 text-left border-bottom pb-1">THÔNG TIN NHẬN HÀNG</h4>
				<fieldset>
					<legend><label for="id_recipient">Họ và tên (*)</label></legend>
					{{ form.recipient }}
				</fieldset>
				<div class="row my-4">
					<div class="col-md-6">
						<fieldset>
							<legend for="id_province">Tỉnh/Thành phố (*)</legend>
							{{ form.province }}
						</fieldset>
					</div>
					<div class="col-md-6">
						<fieldset>
							<legend for="id_district">Quận/Huyện (*)</legend>
							{{ form.district }}
						</fieldset>
					</div>
				</div>
				<div class="row my-4">
					<div class="col-md-6">
						<fieldset>
							<legend for="id_ward">Phường/Xã (*)</legend>
							{{ form.ward }}
						</fieldset>
					</div>
					<div class="col-md-6">
						<fieldset>
							<legend for="id_street">Số nhà/Đường (*)</legend>
							{{ form.street }}
						</fieldset>
					</div>
				</div>
				<fieldset class="my-4">
					<legend for="id_note">Ghi chú đơn hàng (nếu có)</legend>
					{{ form.note }}
				</fieldset>
				<div class="text-center mt-3 my-4">
					<a class="btn btn-dark" href="{% url 'cart' %}">Quay lại</a>
					<button type="submit" class="btn btn-danger">Lưu thông tin</button>
					<a href="{% url 'shipment' %}" class="btn btn-primary">Tiếp tục</a>
				</div>
			</div>
			<div class="col-6 flex-column">
				{% include "order_updated.html" %}
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const provinceSelect = document.getElementById('id_province');
		const districtSelect = document.getElementById('id_district');
		const wardSelect = document.getElementById('id_ward');

		// Gọi API để lấy dữ liệu tỉnh
		fetch('https://provinces.open-api.vn/api/p/')
			.then(response => response.json())
			.then(data => {
				// Thêm các tùy chọn tỉnh vào dropdown
				data.forEach(province => {
					const option = document.createElement('option');
					option.value = province.code;
					option.text = province.name;
					provinceSelect.appendChild(option);
				});
			});

		// Lắng nghe sự kiện khi tỉnh được chọn
		provinceSelect.addEventListener('change', function () {
			const selectedProvinceCode = this.value;

			// Xóa các tùy chọn huyện và xã hiện có
			districtSelect.innerHTML = '<option value="">-- Chọn --</option>';
			wardSelect.innerHTML = '<option value="">-- Chọn --</option>';

			// Hiển thị danh sách huyện ngay khi tỉnh được chọn
			fetchDistrictData(selectedProvinceCode);
		});

		function fetchDistrictData(provinceCode) {
			// Sử dụng liên kết API mặc định của 'https://provinces.open-api.vn'
			fetch(`https://provinces.open-api.vn/api/d/?parent_code=${provinceCode}`)
				.then(response => response.json())
				.then(data => {
					// Thêm các tùy chọn huyện vào dropdown
					data.forEach(district => {
						const option = document.createElement('option');
						option.value = district.code;
						option.text = district.name;
						districtSelect.appendChild(option);
					});

					// Lắng nghe sự kiện khi huyện được chọn
					districtSelect.addEventListener('change', function () {
						const selectedDistrictCode = this.value;

						// Xóa các tùy chọn xã hiện có
						wardSelect.innerHTML = '<option value="">Chọn xã</option>';

						// Hiển thị danh sách xã ngay khi huyện được chọn
						fetchWardData(selectedDistrictCode);
					});
				});
		}

		function fetchWardData(districtCode) {
			// Sử dụng liên kết API mặc định của 'https://provinces.open-api.vn'
			fetch(`https://provinces.open-api.vn/api/w/?parent_code=${districtCode}`)
				.then(response => response.json())
				.then(data => {
					// Thêm các tùy chọn xã vào dropdown
					data.forEach(ward => {
						const option = document.createElement('option');
						option.value = ward.code;
						option.text = ward.name;
						wardSelect.appendChild(option);
					});
				});
		}
	});
</script>
{% endblock %}