{% load static %}
<div class="container">
    <h4 class="my-4 text-left border-bottom pb-1">Tổng số sản phẩn: {{totalitems}}</h4>
    <table class="table table-bordered table-order">
        {% for product_id,item in cart_data.items %}
        <tr>
            <td><img src="{{item.image}}" width="56" /></td>
            <td>
                <p><a href="/product/{{item.title|slugify}}/{{product_id}}">{{item.title}}</a></p>
            </td>
            <td>
                x{{item.qty}}
            </td>
            <td>{% widthratio item.price 1 item.qty %} &#8363;</td>
        </tr>
        {% endfor %}
        <tfoot>
                <tr>
                    <td colspan="3">
                        <input type="text" id="voucher-form">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="apply-voucher" value="Áp dụng">
                    </td>
                </tr>
            <tr>
                <td colspan="3">Tạm tính</td>
                <td>{{total_amt}} &#8363;</td>
            </tr>
            <tr>
                <td colspan="3">Vận chuyển</td>
                <td>
                    {% if fake_ship_price %} {{fake_ship_price}}
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3">Giảm giá</td>
                <td id="discount-value"></td>
            </tr>
            <tr>
                <td colspan="3">TỔNG CỘNG</td>
                <td id='total_sum'>{% if fake_ship_price %} {{originAmt}}
                    {% else %}
                    {% endif %}</td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var applyButton = document.getElementById("apply-voucher");
        var discountValue = document.getElementById("discount-value");
        var totalSum = document.getElementById("total_sum");

        applyButton.addEventListener("click", function() {
            // Cập nhật giá trị giảm giá
            discountValue.textContent = "20000.0";

            // Cập nhật tổng cộng
            var totalAmt = parseFloat(totalSum.textContent);
            var discount = parseFloat(discountValue.textContent);
            var newTotalAmt = totalAmt - discount;
            totalSum.textContent = newTotalAmt.toFixed(2);
        });
    });
</script>