{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container-fuild">
    <div class="aboutus">
        <img src="{% static '/media/images/promotion/banner.png' %}" class="d-block w-100" alt="aboutus">
    </div>
    <h3 class="mb-4 mt-4 border-bottom pb-1">SẢN PHẨM KHUYẾN MÃI</h3>
    <div class="row container">
        {% for product in hot_products %}
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <a href="/product/{{product.slug}}/{{product.id}}" class="image-container">
                    <span class="discount-label">-{{product.productattribute_set.first.discount}}%</span>
                    <img src="{{ product.productattribute_set.first.images.first.image.url }}"
                        class="image-product card-img-top" alt="{{ product.title }}">
                </a>
                <div class="card-body">
                    <label class="btn-product">Giáng sinh</label>
                    <label class="btn-product">Giảm giá</label>
                    <h4><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h4>
                    <div class="card-inline">
                        {% for star in product.star|ljust:product.star %}
                        <img src="{% static '/media/images/icons/star.png' %}" alt="star" />
                        {% endfor %}
                        <div class="comment">{{product.avg_rating}}</div>
                    </div>
                    <div class="card-inline">
                        <h5 class="real-price">{{product.productattribute_set.first.price}} &#8363</h5>
                        <h5 class="promote-price">{{ product.discount }} &#8363</h5>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="hidden" class="product-image-{{product.id}}"
                        value="{{product.productattribute_set.first.images.first.image.url}}" />
                    <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                    <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
                    <input type="hidden" value="1" class="form-control-qty product-qty-{{product.id}}"
                        id="productQty_{{product.id}}" />
                    <input type="hidden" class="product-price-{{product.id}}"
                        value="{{product.productattribute_set.first.price}}" />
                    <button class="btn-product-footer"><a href="/product/{{product.slug}}/{{product.id}}">Xem thêm</a></button>
                    <button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}" type="button"
                        id="addToCartBtn"><i class="fa fa-shopping-cart"></i></button>
                    {% if user.is_authenticated %}
                    <button class="btn btn-sm btn-danger add-wishlist" data-product="{{product.id}}"><i
                            class="fa fa-heart"></i></button>
                    {% else %}
                    <button class="btn btn-sm btn-danger disabled"><i class="fa fa-heart"></i></button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="aboutus">
        <img src="{% static '/media/images/promotion/headline.png' %}" class="d-block w-100" alt="aboutus">
    </div>
    <h3 class="mb-4 mt-4 border-bottom pb-1">MÃ KHUYẾN MÃI ĐỘC QUYỀN</h3>
    <div class="container">
        <div class="row">
            {% for v in voucher %}
            <div class="col-4 align-items-center d-flex mb-4">
                <div class="col-3 align-items-center d-flex justify-content-center">
                    <div class="text-overlay-promotion">{{v.discount_percent}}% OFF</div>
                    <img class="background-image-promotion" src="{% static '/media/images/promotion/img_card.png' %}"
                        alt="">
                    <img class="foreground-image-promotion" src="{% static '/media/images/promotion/card.png' %}"
                        alt="">
                </div>
                <div class="col-9 p-1 body-promotion">
                    <p class="text-promotion ml-3">{{v.detail}}</p>
                    <div class="align-items-center d-flex w-100" style="margin-bottom: 3.3%;">
                        <div class="align-items-center d-flex" style="margin-left: 0;">
                            <img class='date-background-promote' src="{% static '/media/images/promotion/date.png' %}"
                                width="170px" height="36px">
                            <div class="date-text-promote ml-3">
                                Hạn sử dụng: <br /> {{v.valid_from}} - {{v.valid_to}}
                            </div>
                        </div>
                        <button class="text-copy button-copy">{{v.code}}</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mt-5">
        <div class="aboutproduct">
            <img src="{% static '/media/images/promotion/blog.png' %}" alt="">
            <div class="content-blog-promotion">
                <strong>Cơ hội cuối cùng để mua sắm trước kỳ nghỉ lễ!</strong>
                <p>Bộ sưu tập quà tặng dành cho bạn và người thân trong kỳ nghỉ lễ đã bắt đầu. Mua ngay để tận hưởng
                    khoảng thời gian tuyệt vời cùng những người thân yêu.</p>
                <button class="btn-blog-promotion">
                    <a class="nav-link btn-text-blog" href="{% url 'about-us' %}">Về chúng tôi</a>
                </button>
            </div>
        </div>
    </div>
    <!-- Hot products -->
    <h3 class="my-4 border-bottom pb-1">SẢN PHẨM MỚI</h3>
    <div class="row container">
        {% for product in data %}
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <a href="/product/{{product.slug}}/{{product.id}}" class="image-container">
                    <span class="discount-label">-{{product.productattribute_set.first.discount}}%</span>
                    <img src="{{ product.productattribute_set.first.images.first.image.url }}"
                        class="image-product card-img-top" alt="{{ product.title }}">
                </a>
                <div class="card-body">
                    <label class="btn-product">Giáng sinh</label>
                    <label class="btn-product">Giảm giá</label>
                    <h4><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h4>
                    <div class="card-inline">
                        {% for star in product.star|ljust:product.star %}
                        <img src="{% static '/media/images/icons/star.png' %}" alt="star" />
                        {% endfor %}
                        <div class="comment">{{product.avg_rating}}</div>
                    </div>
                    <div class="card-inline">
                        <h5 class="real-price">{{product.productattribute_set.first.price}} &#8363</h5>
                        <h5 class="promote-price">{{ product.discount }} &#8363</h5>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="hidden" class="product-image-{{product.id}}"
                        value="{{product.productattribute_set.first.images.first.image.url}}" />
                    <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                    <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
                    <input type="hidden" value="1" class="form-control-qty product-qty-{{product.id}}"
                        id="productQty_{{product.id}}" />
                    <input type="hidden" class="product-price-{{product.id}}"
                        value="{{product.productattribute_set.first.price}}" />
                    <button class="btn-product-footer"><a href="/product/{{product.slug}}/{{product.id}}">Xem thêm</a></button>
                    <button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}" type="button"
                        id="addToCartBtn"><i class="fa fa-shopping-cart"></i></button>
                    {% if user.is_authenticated %}
                    <button class="btn btn-sm btn-danger add-wishlist" data-product="{{product.id}}"><i
                            class="fa fa-heart"></i></button>
                    {% else %}
                    <button class="btn btn-sm btn-danger disabled"><i class="fa fa-heart"></i></button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="my-4 text-center"><a href="{% url 'product-list' %}" class="btn btn-footer btn-sm">Xem thêm</a></p>
</main>

{% endblock %}